<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1>todo<span>list</span></h1>
      <h2>A simple todo list</h2>
    </header>
  
    <section class="form">
      <input type="text" id="todoInput" placeholder="Add task here...">
    </section>

    <ul class="list">

    </ul>

    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
